{%- if linklists[block.settings.menu].links.size > 0 -%}
  {%- if block.settings.show_footer_title -%}
    <p class="h4 footer__title small--hide">
      {{ linklists[block.settings.menu].title }}
    </p>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="Footer-{{ block.id }}">
      {{ linklists[block.settings.menu].title }}
     
      <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><path fill="#fff" d="m7 10l5 5l5-5z"/></g></svg>

      </span>

    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <ul class="no-bullets site-footer__linklist">
          {%- for link in linklists[block.settings.menu].links -%}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}
