{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

{%- if settings.color_footer == settings.color_body_bg -%}
  {%- style -%}
    .site-footer {
      border-top: 1px solid {{ settings.color_borders }};
    }
  {%- endstyle -%}
{%- endif -%}

<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width">
  <div class="grid">
      <div class="grid__item  footer-newsletter">
        
        <div class="newsletter-left">
  {%- if section.settings.title1 -%}
    <p class="h4 footer__title small--hide">{{ section.settings.title1 }}</p>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide">
      {{ section.settings.title1 }}
    </button>
        
  {%- endif -%}
  {%- if section.settings.text1 !=blank -%}
          <div class="desktop-data">
          {{ section.settings.text1 }}
          </div>
        {%- endif -%}
          <p style="font-size:11px; text-align:left; padding:5px;"></p>  
        </div>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible footer_collapsible--disabled">
     
        {%- form 'customer', id: 'newsletter-footer' -%}
          {%- if form.posted_successfully? -%}
            <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
          {%- endif -%}
          {%- if form.context == 'footer' -%}
            {%- if form.errors -%}
              {{ form.errors | default_errors }}
            {%- endif -%}
          {%- endif -%}

          <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input type="hidden" name="contact[tags]" value="prospect,newsletter">
          <input type="hidden" name="contact[context]" value="footer">
          <div class="footer__newsletter">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Indirizzo e-mail" name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
            <button type="submit" class="btn footer__newsletter-btn" name="commit" aria-label="{{ 'general.newsletter_form.submit' | t }}">
            
              {{ 'general.newsletter_form.submit' | t }}
              {% comment %}
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email" viewBox="0 0 64 64"><path d="M63 52H1V12h62zM1 12l25.68 24h9.72L63 12M21.82 31.68L1.56 51.16m60.78.78L41.27 31.68"/></svg>
              <span class="footer__newsletter-btn-label">
                {{ 'general.newsletter_form.submit' | t }}
                 {% endcomment %}
              </span>
            </button>
            <p style="font-size:11px; text-align:left; padding:5px;">Iscrivendoti dichiari di aver letto l'informativa sulla privacy</p>  

          </div>
        {%- endform -%}
       
      </div>
      {%- if section.settings.text1 !=blank -%}
          <div class="mobile-data">
          {{ section.settings.text1 }}
          </div>
        {%- endif -%}
    </div>
          
</div>
      
      {%- assign row_width = 0 -%}
      {%- for block in section.blocks -%}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {%- if row_width > 100 -%}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {%- endif -%}

        <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}" data-type="{{ block.type }}">
          {%- style -%}
            @media only screen and (min-width: 769px) and (max-width: 959px) {
              .footer__item--{{ block.id }} {
                width: 50%;
                padding-top: 40px;
              }
              .footer__item--{{ block.id }}:nth-child(2n + 1) {
                clear: left;
              }
            }
            @media only screen and (min-width: 960px) {
              .footer__item--{{ block.id }} {
                width: {{ block.settings.container_width }}%;
              }

            }
          {%- endstyle -%}

          {%- liquid
            case block.type
              when 'logo_social'
                render 'footer-logo', block: block
              when 'custom'
                render 'footer-custom-text', block: block
              when 'newsletter'
                render 'footer-newsletter', block: block
              when 'menu'
                render 'footer-menu', block: block
            endcase
          -%}
        </div>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        {%- if block.type == 'logo' -%}
          <div class="grid__item medium-up--hide">
            {%- render 'footer-logo', block: block -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    
<div class="grid__item footer-social-icons">
  <div class="footer-social">
    {% comment %}
  <div class="social-icon-text">
    <span>Social</span>
  </div>{% endcomment %}
      <ul class="no-bullets footer__social">
          
          {%- if settings.social_facebook_link != blank -%}
            <li>
              <a target="_blank" rel="noopener" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook"  width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="white" d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"/></svg>
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </li>
          {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
            <li>
              <a target="_blank" rel="noopener" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 32 32"><path fill="#444" d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"/><path fill="#444" d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"/></svg>
                <span class="icon__fallback-text">Instagram</span>
              </a>
            </li>
          {%- endif -%}
  </ul>
  </div>
  <div class="footer-info-link footer_info">

  {%- if section.settings.show_footer_title -%}
    <div class="footer_info_inner">
    <div class="footer_information_link">
    <p class="h4 footer__title footer__title_info">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="15" height="15" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="white" d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8Z"/><path fill="white" d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8Z"/></svg>
    {{section.settings.info_title}}
      </p>
    </div>
    <svg class="outer-svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><path fill="#fff" d="m7 10l5 5l5-5z"></path></g></svg>
    </div>

  {%- endif -%}
  <div
    {% if section.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content custom_footer"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible footer_collapse_inner{% unless section.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <div class="no-bullets site-footer__linklist">
          {{ section.settings.content }}
        </div>
      </div>
    </div>
  </div>

  </div>
    </div>


</div>

    {%- if show_selectors -%}
      <div class="footer__section">
        {%- render 'multi-selectors',
          locale_selector: locale_selector,
          currency_selector: currency_selector,
          show_currency_flags: section.settings.show_currency_flags
          location: 'footer'
        -%}
      </div>
    {%- endif -%}

    {%- if section.settings.show_payment_icons -%}
      {%- unless shop.enabled_payment_types == empty -%}
        <ul class="inline-list payment-icons footer__section">
          {%- for type in shop.enabled_payment_types -%}
            <li class="icon--payment">
              {{ type | payment_type_svg_tag }}
            </li>
          {%- endfor -%}
        </ul>
      {%- endunless -%}
    {%- endif -%}

    {%- if section.settings.show_copyright -%}
      <p class="footer__small-text">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
        {%- if section.settings.copyright_text != blank -%}
          {{ section.settings.copyright_text }}
        {%- endif -%}
      </p>
    {%- endif -%}
    {%comment%}<p class="footer__small-text">{{ powered_by_link }}</p>{% endcomment%}

  </div>
</footer>

 
  <style>
.custom_footer     {
  display:none;
}
    
</style>
{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      },
 
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title1",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "html",
            "id": "text1",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "text",
            "id": "info_title",
            "label": "Title",
            "default": "footer"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
"default": "<p>footer</p>"
          }


        
      
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter and social",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "html",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
   {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text1",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
